.ant-drawer {
    z-index: 999 !important;
}

#drawerCustom {
    .ant-drawer-body {
        height: 100%;
        background-color: var(--background-color);
        min-width: 350px;
        padding: 0 !important;

        form {
            height: inherit;
        }

        .ant-steps-finish-icon>svg {
            color: white;
        }

        .ant-steps-item-title {
            font-weight: 600;
            color: #101828 !important;
        }
    }

    .minimizeButton,

    .minimizeButton svg,
    .closeButton svg {
        width: 20px;
        height: 20px;
    }
}

.closeButton {
    background: var(--background-color);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #EAECF0;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
}

.hideHeader .ant-drawer-header {
    display: none;
}

.ant-drawer-header {
    padding-top: 10px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-bottom: 10px !important;
}

.fast-activity-button {
    cursor: pointer;
    color: #475467;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 4px;
    width: auto;
    height: auto;
    border-radius: 8px;
}