.main-layout {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.main-layout-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-radius: 8px;
    width: 100;
}

.main-header {
    padding: 1rem;
}

.main-sidebar {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
}

.main-footer {
    padding: 1rem;
}