
.page-bg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;
  border-radius: 42px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: var(--background-white-color);
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.page-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 32px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  background:linear-gradient(145deg, #F4F6FC, #f2f2f6);
  min-width: 346px;
}

.bg-blob-bottom {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(177,197,255,0.7), rgba(225,235,255,0));
  /* background: red; */
  bottom: 10px;
  left: -12px ;
  filter: blur(2px);
  /* z-index: -1; */
}

.bg-blob {
  position: absolute;
  width: 222px;
  height: 222px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(177,197,255,0.7), rgba(225,235,255,0));
  /* background: red; */
  top: -75px;
  right: -80px ;
  filter: blur(2px);
  /* z-index: -1; */
}



.btn-save {
  background: linear-gradient(90deg, #9cd1ff, #c3f0ff);
  cursor: pointer;
  border-radius: 22px;
  padding: 6px 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #bad7f4;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px
}

.btn-connect {
  background: linear-gradient(90deg, #a78bfa, #7dd3fc); 
  cursor: pointer;
  border-radius: 22px;
  padding: 6px 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #8fb5ff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px
}

.btn-save:hover {
  border: 1px solid white;
  .ant-typography{
    color: white;
  }
}

.btn-connect:hover {
  border: 1px solid white;
  .ant-typography{
    color: white;
  }
}

.avatar-border {
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border-radius: 50%;
  display: inline-block;
  padding: 6px;
  width: fit-content;
  background-color: var(--background-white-color);
}

