:root {
    --background-color:rgb(242, 242, 242);
    --text-color: #1b1b1c;
    --primary-color: blue;
    --background-white-color:white;
}

@font-face {
    font-family: 'Gelion';
    src: url('./Assets/Fonts/Gelion-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.dark-theme {
    --background-color: black;
    --text-color: white;
    --primary-color: lightblue;
    --background-white-color:black;
}

body {
    font-family: 'Gelion', Helvetica, "Helvetica Neue", Arial;
    margin: 0;
    line-height: 1.5;
    font-size: 1.0rem;
    font-variant-ligatures: no-common-ligatures;
    background-color: var(--background-color);
    color: var(--text-color);
}