.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.ant-drawer-body {
    background-color: #edecec;
}