.sent_group-sidebar-wrapper{
    min-width: 14rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.sent_group-sidebar-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.6rem 1rem;
    transition: box-shadow 0.3s ease;
    border-radius: 0.25rem;
}

.shadow-border{
    box-shadow: rgba(3, 3, 3, 0.08) 0px 2px 8px;
}

.sent_group-sidebar-label-pre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sent_group-sidebar-label-pre-label{
    margin: 0 0.5rem;
}

.sent_group-sidebar-label:hover{
    opacity: 0.9;
    box-shadow: rgba(3, 3, 3, 0.2) 0px 2px 8px;
}

.sent_group-sidebar-label:hover .sent_group-sidebar-label-pre-icon {
    display: inline-block;
}

.sent_group-sidebar-label-pre-icon{
    display: none;
}

.sent_group-sidebar-item-wrapper{
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(214, 236, 236);
    display: flex;
    flex-direction: column;
}

.sidebar-item{
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    div {
        margin: 0 0.5rem;
    }
}

.sidebar-item:hover{
    background-color: #E6F4FF;
    border-radius: 0.5rem;
}

.sent_account-action-avatar{
    width: 2rem;
    height: 2rem;
    background-color: #FCE8EC;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: #FCD1DA solid 1px;
}

.sent_account-profile-avatar{
    width: 1.8rem;
    height: 1.8rem;
    background-color: #C0DDFF;
    border-radius: 0.3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: #2292FF solid 1px;
}